<br>
<br>

<div class="container">
	<div class="row">
		<div class = "col s6 offset-s3 center">

		<h3>Hi, I'm Comby your homey</h3>

		<img src="/img/kentcomb.png" class = "responsive-img">

		  <form action="/" method="POST">  
		  	<div class="input-field">
		      <input type="text" name="first_name" value="<%= @first_name %>" placeholder="Enter First Name"/>
		      <input type="text" name="last_name" value="<%= @last_name %>" placeholder="Enter Last Name" />
		 			<input type="text" name="domain" value="<%= @domain %>" placeholder="Enter Domain" />
		 			
		 			<input type="submit" value="Run Comby!" id="runButton" class="btn btn-small btn-block btn-primary">

		 	</div>	
 	
  		</form>
		</div>


  <div class="col s4 offset-s4 center">

	<h3 class="combsays" style = "display: none">Comby says...</h3>

	<div class="preloader-wrapper big active" style = "display: none">
	  <div class="spinner-layer spinner-blue-only">
	    <div class="circle-clipper left">
	      <div class="circle"></div>
	    </div><div class="gap-patch">
	      <div class="circle"></div>
	    </div><div class="circle-clipper right">
	      <div class="circle"></div>
	    </div>
	  </div>
	</div>

<table id="results" class="centered">
  <tbody>

    <% if @emails_and_validity  %>

      <% @emails_and_validity.each do |result| %>
        <tr>
                
            <td><%= result %></td>              
        </tr>
      <% end %>

    <% end %>

  </tbody>
</table>
</div>
	</div>
</div>