<!doctype html>
<html>
  <head>
    <!-- Load Global and Custom CSS HERE -->
    <%= styles %>

    <link href="materialize/css/materialize.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">

  </head>

  <!-- Body of Application -->
  <body>
    <!-- Yield to your ERB templates. -->
    <%= yield %>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>

    <script src="materialize/js/materialize.js"></script>
    <script src="js/main.js"></script>






  </body>
</html>
